---
import Layout from "../layouts/Layout.astro";
import ImagesList from "../components/ImagesList.astro";
import { config } from "../config";
import { INITIAL_IMAGES_COUNT } from "../constants";

const images = Astro.locals.images.slice(0, INITIAL_IMAGES_COUNT);
---

<script>
  const $slot = document.getElementById("slot");
  const mq = window.matchMedia("(width <= 40rem)");
  const {hash} = window.location
  const handleResponsiveNav = () => {
      const $links = document.querySelectorAll<HTMLAnchorElement>("section a")
      $links?.forEach((link, index) => {
        if (!link) {
          return
        };
        const prev = !!(index % 2);
        const handler: EventListenerOrEventListenerObject = (event) => {
          if (mq.matches) {
            return
          };
          event.preventDefault();
          link.closest('section')?.[
            prev ? "previousElementSibling" : "nextElementSibling"
          ]?.scrollIntoView();
        };

        link.addEventListener("click", handler);
      });
    }
  const res = await fetch('/extra/');

  if (res.ok && $slot) {
    const htmlString = await res.text()
    const doc = new DOMParser().parseFromString(htmlString, "text/html")
    const $content = doc.getElementById('extra')

    if ($content) {
      $slot.insertAdjacentHTML("beforebegin", $content.innerHTML);
    }
    $slot.remove();
    handleResponsiveNav();
    mq.addEventListener("change", handleResponsiveNav);

    if (hash) {
      const target = document.querySelector<HTMLAnchorElement>(`${hash} a`);
      target?.click();
   }
  }
</script>

<Layout title={config.title}>
  <header>
    {
    config.title || config.description
    ? <div>
        {config.title ? <h1>{config.title}</h1> : null}
        {config.description ? <p>{config.description}</p> : null}
      </div> : null
    }
  </header>

  <ImagesList images={images}/>

  <div id="slot"></div>
</Layout>

<style>
  body {
    display: grid;
    grid-template-columns: calc(var(--size) + var(--gap) * 2) 1fr;

    > *:nth-child(odd) {
      max-width: var(--max-size);
    }
  }

  @media (width <= 40rem) {
    body {
      grid-template-columns: 1fr;
    }
  }

  header {
    padding: var(--gap);
    scroll-snap-align: start;

    > div {
      position: sticky;
      top: var(--gap);
    }

    * {
      font-size: clamp(0.65rem, 0.8vw, 1rem);
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
      -webkit-user-select: text;
      user-select: text;
    }
  }
</style>
