---
import { config, FF_META_PRO_URL } from "../config";

interface Props {
	title: string;
}

const { title } = Astro.props;
const count = Astro.locals.images.length ?? 0;
const bg = Astro.locals.images[0].backgroundColor ?? "#fff";
---

<!doctype html>
<html lang="en" data-count={count}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={config.description} />

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href='/favicon.png'>

    <meta property="og:title" content={config.title} />
    <meta property="og:description" content={config.description} />
    <meta property="og:image" content={config.image} />
    <meta
      property="og:image:alt"
      content={[config.title, config.description].filter(Boolean).join(", ")}
    />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={config.url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.title}>
    <meta name="twitter:description" content={config.description}>
    <meta name="twitter:image" content={config.image}>

    <link rel="canonical" href={config.url} />

    <link
      rel="preload"
      as="font"
      crossorigin
      href={FF_META_PRO_URL}
      type="font/woff2"
    />

    <link rel="prefetch" href="/extra/" as="document" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style set:html={
  `
  @font-face {
      font-family: FF Meta Web Pro Condensed;
      src: url(${FF_META_PRO_URL}) format("woff2");
      font-display: auto;
      font-style: normal;
      font-weight: 600;
      font-stretch: normal;
    }
  `
}></style>

<style is:global define:vars={{ bg }}>
  :root {
    --black: #16161dd6;
    --white: #fefafcd6;
    --slime: #cffc50;
    --gap: 1rem;
    --sm: 0.9rem;
    --lg: 1.2rem;
    --max-size: 80rem;
  }

  *,
  ::before,
  ::after {
    position: relative;
    font-family:
        FF Meta Web Pro Condensed,
        system-ui,
        sans-serif;
    box-sizing: border-box;
    font-size: max(1vw, 1rem);
    font-kerning: normal;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
  }

  html {
    background-color: var(--bg);
    color: var(--black);
    scroll-snap-type: y mandatory;
    line-height: 1.375;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  ::selection {
    background-color: var(--slime);
    color: var(--black);
  }
</style>
